.icon-pine {
    background: url('../assets/img/icon-pine.svg') no-repeat center;
    background-size: contain;
}

.icon-cherry {
    background: url('../assets/img/icon-cherry.svg') no-repeat center;
    background-size: contain;
}

.icon-lemon {
    background: url('../assets/img/icon-lemon.svg') no-repeat center;
    background-size: contain;
}

.icon-peach {
    background: url('../assets/img/icon-peach.svg') no-repeat center;
    background-size: contain;
}

.icon-comment {
    background: url('../assets/img/icon-comment.svg') no-repeat center;
    background-size: contain;
}

.icon-home {
    background: url('../assets/img/icon-home.svg') no-repeat center;
    background-size: contain;
}

.icon-user {
    background: url('../assets/img/icon-user.svg') no-repeat center;
    background-size: contain;
}

.icon-logout {
    background: url('../assets/img/icon-logout.svg') no-repeat center;
    background-size: contain;
}