body {
    font-size: 14px;
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

.color-dark {
    color: $color-dark;
}

.color-medium {
    color: $color-medium;
}

.color-light {
    color: white;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}