$size-container: 520px;
$size-container--gutter: 15px;
$size-base-border-radius: 40px;
$size-button-gutter: 16px;

$color-primary: #75C2FC;
$color-pale: #F3F8FE;
$color-dark: #0B1126;
$color-medium: #70778F;
$color-border--light: #F4F4F4;
$color-border--medium: #F0F0F0;
$color-error: #c24848; 
$color-success: #52c469;